################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TheBoard/node_modules
/TheBoard/README.html
*.suo
/MongoDB
/TheBoard/obj/Debug
